{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "transform-decorators-legacy",
      {
        "loose": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env":{
    "development":{
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}